body {
  background-image: url('https://cdn.dribbble.com/users/108183/screenshots/5288723/tic_tac_toe_loader_.gif');
  background-size: 100%;
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}

.square {
  background: rgb(241, 241, 22);
  border: 1px solid rgb(184, 69, 69);
  float: left;
  font-size: 24px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  display: inline-block;
}

button {
  background-color:  rgb(241, 241, 22);
  border: transparent;
   padding: 5px 5px;
}